// NavigationBar.scss

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1a1616;
    color: #fff;
    margin: 60px;
    border-radius: 20px;
  }
  
  .left-section {
    .title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
    }
  }
  
  .right-section {
    a {
      color: #fff;
      margin-left: 15px;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  